/* 
the css needed for the GUI
Credits to Tripleluxen
https://github.com/TripleLuxen
https://community.fandom.com/wiki/User:TripleLuxen

and credits to Melncat
https://github.com/melncat/
*/

.animated > *:not(.animated-active),
.animated-paused > *:not(.animated-active),
.animated > .animated-subframe > *:not(.animated-active),
.animated-paused > .animated-subframe > *:not(.animated-active) {
	display: none;
}

@font-face {
	font-family: minecraft;
	src: url('/media/hydra/fonts/minecraft.eot?#iefix') format('embedded-opentype'),
	     url('/media/hydra/fonts/minecraft.woff') format('woff'),
	     url('/media/hydra/fonts/minecraft.ttf') format('truetype');
}

.item-slot {
  background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/4/44/InvSprite.png");
}
.item-box {
 background-image: url("https://static.wikia.nocookie.net/smpe-public/images/3/3d/Invslot.png");
}
.shapeless-icon {
background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/a9/Grid_layout_Shapeless.png/revision/latest");
}
.item-slot-box:hover{
	background-color:rgba(255, 255, 255, 0.5)
}
